@import url('https://fonts.googleapis.com/css?family=Nunito:300');

*{
  font-family: avenir, 'Nunito', sans-serif;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
}

a {
  text-decoration: none;
}

:root{
  --pageWidth: 80%;
  --pageMargin: 0 10%;
}

.pageHeader{
  width: 100%;
}

nav {
  /* margin-top: -6px; */
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  top: 0;
  background: #fff;
  justify-content: space-between;
  z-index: 3;
  width: 100%;
  margin: 0;
  padding: 0 10%;
}

nav a {
  padding: 1rem 0;
  color: #555;
}

nav a:hover {
  padding: calc(1rem - 3px) 0;
  border-top: 3px solid;
}

body > section {
  /* width: 80%; */
  padding: 3rem 10%;
}

body > section:nth-child(even), body > section:nth-child(even) .divider h2, section:nth-child(even) .divider p {
  background: rgb(249, 249, 249);
}

section.mainimage, section.otherImages {
  position: relative;
  /* display: flex;
  align-items: center; */
  overflow: hidden;
  max-width: 800px;
  margin: 0 auto;
  max-height: 448px;
}

section.mainimage {
  margin: 3rem auto;
}

section.otherImages {
  max-width: 800px;
margin: 0 auto;
}

.imagewrapper, .otherImagesWrapper {
  display: flex;
  /* align-items: center; */
  transition: transform 0.3s ease;
}

section.mainimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

section.mainimage div:not(.imagewrapper) {
  top: calc(50% - 1.5rem);
  position: absolute;
  border-radius: 50%;
  background: lightBlue;
  color: white;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem;
  font-size: 1.5rem;
  z-index: 2
}

section.mainimage div:last-of-type{
  right: 0;
}

section header {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

article {
  display: flex;
  justify-content: space-between;
}

article > .tekst {
  width: 45%;
}

article img {
  width: 45%;
  height: 45%;
}

/* DIVIDER */

.divider {
  width: 100%;
  height: 0;
  border: 1px solid #ddd;
  position: relative;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

.divider p, h2 {
  position: absolute;
  top: -1.7rem;
  color: var(--black);
  background: white;
  padding: 0 1rem;
  color: #888
}

.divider h2 {
  top: -2.2rem;
  font-weight: 100;
  font-style: italic;
}

.iconHolder {
  border-radius: 50%;
  background: lightBlue;
  color: white;
}

/* END DIVIDER */
/* IMG SLIDER */

.sliderImage {
  /* height: 4rem; */
  width: 18%;
  height: 100%;
  margin: 0 2rem
}

.sliderImage:first-of-type {
  margin-left: 0;
}

.sliderImage:last-of-type {
  margin-right: 0;
}

.sliderImage img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/* END IMG SLIDER */
/* CARD HOLDER  */

.cardHolder {
  margin-top: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  width: 15rem;
}

.card > header > img {
  height: 15rem;
  width: 15rem;
  object-fit: cover;
}

.card .cardImages {
  display: flex;
    justify-content: flex-start;
}

.card .cardImages img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  margin-right: 1rem;
}

.card .cardImages img:first-child {
  margin-right: 1rem;
}

.cardFooter {
  position: relative;
  flex-direction: column;
}

.card footer > a {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  background-color: lightblue;
}

/* END CARD HOLDER  */
/* PAGE HEADER SLIDE SHOW AND VID */

.pageHeader video, .pageHeaderSlider{
  position: relative;
  width: 100vw;
  height: 80vh;
  border-bottom: 3px solid #999;
  margin: 0;
  object-fit: cover;
  overflow: hidden;
}

.pageHeader video{
  margin-bottom: -6px;
}

.pageHeaderSlider div{
  position: absolute;
  width: 100%;
  height: 100%;
  animation: pageHeaderSlide 15s infinite;
}

.pageHeaderSlider div:nth-child(1) {
  background-image: url("./img/foto1.png");
  background-position: center;
  background-size: cover;
  z-index: 5;
  animation-delay: -1s;
}

.pageHeaderSlider div:nth-child(2) {
  background-image: url("./img/foto2.png");
  background-position: center;
  background-size: cover;
  animation-delay: 2s;
  z-index: 4
}

.pageHeaderSlider div:nth-child(3) {
  background-image: url("img/foto3.png");
  background-position: center;
  background-size: cover;
  animation-delay: 5s;
  z-index: 3
}

.pageHeaderSlider div:nth-child(4) {
  background-image: url("./img/foto4.png");
  background-position: center;
  background-size: cover;
  animation-delay: 8s;
  z-index: 2
}

.pageHeaderSlider div:nth-child(5) {
  background-image: url("./img/foto5.png");
  background-position: center;
  background-size: cover;
  animation-delay: 11s;
  z-index: 1
}

@keyframes pageHeaderSlide {
  0% {
    transform: translateX(100%)
  } 5%, 25% {
    transform: translateX(0)
  } 30% {
    transform: translateX(-100%)
  } 30.001%, 100% {
    transform: translateX(100%)
  }
}

.none {
  opacity: 0!important;
}

/* .otherImages {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.otherImagesWrapper {
  width: 100%;
  display: flex;
  overflow: hidden;
} */
/*
.otherImagesWrapper img {

} */

.kaart .kaartWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.kaart {
  overflow: hidden;
  position: relative;
}

.kaartWrapper {
  display: flex;
  animation: slideKaart 30s infinite;
  transform: translateX(-100%);
  transition: all 1s;
}

@keyframes slideKaart {
  0%, 100% {
    transform: translateX(0%);
  } 15% {
    transform: translateX(-100%);
  } 30% {
    transform: translateX(-200%);
  } 45% {
    transform: translateX(-300%);
  } 60% {
    transform: translateX(-400%);
  } 75% {
    transform: translateX(-500%);
  }
}
